body{
    display:grid;
    place-items:center;
    height:100vh;
    background:#4C23E8;
    margin:0;
    padding:0;
  }
  
@media(max-width: 1024px;){
    .hamburger{
        display: block;
    }
    .hamburger.active.line:nth-child(2){
        opacity: 0;
    }
    .hamburger.active.line:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active.line:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}